﻿@{
    ViewBag.Title = "Home Page";
}

<div class="pure-g pure-u-1-6"></div>
<div id="mainContentWrapper" class="pure-g pure-u-16-24">
    <h2>Credentials</h2>

    <table id="authenticationsList"></table>
    <div id="gridPager"></div>
</div>
<div class="pure-g pure-u-1-6"></div>

@section scripts {
    @Scripts.Render("~/bundles/stored-credentials")
}
