﻿@model AdnugDemo1.Models.AddClaimInputModel

@section title
{
    @Model.Title
}

<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>@Model.Title</h2>
    
        @using (Html.BeginForm("AddClaim", "Membership", FormMethod.Post, new { id="addClaimForm", @class = "pure-form pure-form-stacked" }))
        {
            <div class="pure-g pure-u-1-4"></div>
            <div class="pure-g pure-u-1-2">
                @Html.AntiForgeryToken()
                
                @Html.HiddenFor(m => m.NewClaimType)
                
                <div id="stockClaimsWrapper">
                    @Html.LabelFor(m => m.ClaimTypes)
                    @Html.DropDownListFor(m => m.SelectedClaimType, new SelectList(Model.ClaimTypes, "Value", "Text"), "Choose a Claim", new { @class = "darkText" })
                </div>
                <div id="customClaimWrapper" class="initialHide">
                    @Html.LabelFor(m => m.CustomClaimType)
                    @Html.EditorFor(m => m.CustomClaimType)
                </div>

                or <a id="addClaimLabel" class="label label-warning">Add custom claim</a>
                
                @Html.LabelFor(m => m.NewClaimValue)
                @Html.EditorFor(m => m.NewClaimValue)

                <button id="createClaimButton" class="pure-button"><i class="fa fa-floppy-o"></i>&nbsp;Create Claim</button><div id="addClaimMsgLabelWrap" class="initialHide"></div>

            </div>

            <div class="pure-g pure-u-1-4"></div>
        }
        </div>
<div class="pure-g pure-u-1-8"></div>

@section scripts {
    @Html.ScriptRenderer(m => m.ClientScript)
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/add-claim")
}


