﻿@model AdnugDemo1.Models.ConfirmedEmailInputModel

@section title
{
    @Model.Title
}

<div class="pure-g pure-u-1-8"></div>

<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <section id="ConfirmUser">
        <h2>@Model.Title</h2>

        @Html.ValidationSummary("There was a problem with logging in: ", new { id = "confirmedEmailValidationSummary" })

        @using (Html.BeginForm("ConfirmedEmail", "Membership", FormMethod.Post, new { id = "confirmedEmailForm", @class = "pure-form pure-form-stacked" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>@ViewBag.Title</legend>
                @Html.HiddenFor(m => m.Key)

                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

                <div class="pure-g pure-u-24-24">
                    <button id="ConfirmEmailButton" class="pure-button pure-button-active">Confirm Email</button><div id="loginMsgLabelWrap"></div>
                </div>
            </fieldset>
        }
    </section>
</div>

<div class="pure-g pure-u-1-8"></div>
@section scripts {
        @Html.ScriptRenderer(m => m.ClientScript)
        @Scripts.Render("~/bundles/utilities")
        @Scripts.Render("~/bundles/confirmed-email")
    }
