﻿@model AdnugDemo1.Models.CreateUserInputModel
           
@section title
{
    @Model.Title
}

<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">
    <h2>Create a New User</h2>

    <section id="registerUser">
        @Html.ValidationSummary("There was a problem with user creation: ", new { id = "registerValidationSummary" })

        @using (Html.BeginForm("CreateUser", "Membership", FormMethod.Post, new { id = "createUserForm", @class = "pure-form pure-form-stacked" }))
        {
            @Html.AntiForgeryToken()
            <div class="pure-g pure-u-1-4"></div>
            <div class="pure-g pure-u-1-2">
                <fieldset>
                    <legend class="formEntry">@Model.Title</legend>

                    @Html.EditorForModel()

                    <div class="buttons">
                        <button id="registerNewUserButton" class="pure-button pure-button-active">Create User</button><div id="registerMsgLabelWrap"></div>
                    </div>

                </fieldset>
            </div>
            <div class="pure-g pure-u-1-4"></div>
        }
    </section>
    <section id="operationResult" class="initialHide">
        <p><span class="label label-success">Success</span></p>
        <p>You should receive an email shortly at <span id="emailText"></span>.</p>
        <p>It will contain instructions to verify your account so that you can login.</p>
        <p><button id="createAnotherUserButton" class="pure-button">Wanna Create Another?</button></p>
    </section>
</div>
<div class="pure-g pure-u-1-8"></div>

@section scripts {
    @Html.ScriptRenderer(m => m.ClientScript)
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/register")
}