﻿@model AdnugDemo1.Models.LoginInputModel

@section title
{
    @Model.Title
}           


<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>Login Here</h2>
    <section id="loginUser">
        
        @Html.ValidationSummary("There was a problem with logging in: ", new { id = "loginValidationSummary" })

        @using (Html.BeginForm("LogIn", "Membership", FormMethod.Post, new { id="logInForm", @class = "pure-form pure-form-stacked" }))
        {
            @Html.AntiForgeryToken()

            <div class="pure-g pure-u-1-4"></div>
            <div class="pure-g pure-u-1-2">
                <fieldset>
                    <legend class="formEntry">Log In</legend>
                    <div>
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div>
                        <button id="loginSubmitButton" class="pure-button"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Log In</button><div id="loginMsgLabelWrap"></div>
                        <label for="rememberMeCheckbox" class="pure-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { id = "rememberMeCheckbox" }) @WebUiConstants.RememberMe
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="pure-g pure-u-1-4"></div>
        }
    </section>
    @Html.ActionLink("Create a new user", "CreateUser", "Membership")
</div>
<div class="pure-g pure-u-1-8"></div>

@section scripts {
    @Html.ScriptRenderer(m => m.ClientScript)
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/login")
}


