﻿@model AdnugDemo1.Models.PasswordResetConfirmInputModel

@section title
{
    @Model.Title
}


<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>Reset Password Request</h2>
    <section id="resetPasswordSection">

        @Html.ValidationSummary("There was a problem with the email address: ", new { id = "passwordResetValidationSummary" })

        @using (Html.BeginForm("PasswordReset", "Membership", FormMethod.Post, new { id = "passwordReset", @class = "pure-form pure-form-stacked" }))
        {
            @Html.AntiForgeryToken()

            <div class="pure-g pure-u-1-8"></div>
            <div class="pure-g pure-u-5-8">
                <fieldset>
                    <legend class="formEntry">Enter Email Address</legend>
                    <div>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                    </div>
                    <div><button id="passwordResetConfirmSubmitButton" class="pure-button">Submit Email Address</button><div id="loginMsgLabelWrap"></div></div>
                </fieldset>
            </div>
        }
    </section>
    <section id="operationResult" class="initialHide">
        <p><span class="label label-success"><i class="fa fa-thumbs-o-up"></i>&nbsp;Done</span></p>
        <p>You should receive an email shortly at <span id="emailText"></span>.</p>
        <p>It will contain instructions with a link to change your password.</p>
    </section>
</div>
<div class="pure-g pure-u-1-8"></div>
@section scripts {
    @Html.ScriptRenderer(m => m.ClientScript)
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/password-reset")
}