﻿@model AdnugDemo1.Models.ChangePasswordFromResetKeyInputModel

@section title
{
    @Model.Title
}


<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>Reset Password</h2>
    <section id="resetPasswordSection">

        @Html.ValidationSummary("There was a problem with the details entered: ", new { id = "passwordResetValidationSummary" })

        @using (Html.BeginForm("PasswordResetConfirm", "Membership", FormMethod.Post, new { id = "passwordResetForm", @class = "pure-form pure-form-stacked" }))
        {
            @Html.AntiForgeryToken()

            <div class="pure-g pure-u-1-8"></div>
            <div class="pure-g pure-u-5-8">
                <fieldset>
                    <legend class="formEntry">Enter New Details</legend>
                    <div>
                        @Html.EditorForModel()
                    </div>
                    <div><button id="passwordResetSubmitButton" class="pure-button">Submit New Password</button><div id="loginMsgLabelWrap"></div></div>
                </fieldset>
            </div>
        }
    </section>
</div>
<div class="pure-g pure-u-1-8"></div>

@section scripts {
    @Html.ScriptRenderer(m => m.ClientScript)
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/password-reset")
}