﻿@model AdnugDemo1.Models.UserClaimsViewModel
@{
    ViewBag.Title = "UserClaims";
}

<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-3-4 claims">
    <h2>@Model.Title</h2>

    <ul>

        <div class="pure-g pure-u-1-1">
            @{
                foreach (var claim in Model.Claims)
                {
                    <li><div class="pure-g pure-u-1-2"><strong>Type:</strong> @claim.Type</div><div class="pure-g pure-u-1-2"><strong>Value:</strong> @claim.Value</div></li>
                }
            }
        </div>

    </ul>
</div>
<div class="pure-g pure-u-1-8"></div>