﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@RenderSection("title", required: false)</title>
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/jqGrid-styles")
    @Styles.Render("~/Content/pure-css-by-yahoo")
    @Styles.Render("~/Content/bootstrap-label")
    @Styles.Render("~/Content/awesome-font")
    @Styles.Render("~/Content/site-and-membership")
</head>
<body>
    <div>
        <div class="pure-g">
            <div class="pure-g pure-u-16-24"></div>
            <div class="pure-g pure-u-1-6">
                <div class=" pure-menu pure-menu-open">
                    <ul>
                        <li>@Html.GlyphLinkButton("homelink", "/", "Home", "glyphicon-home", new { @class = "button-xlarge pure-button" })</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.GlyphLinkButton("loginoutlink", "/Membership/Logout", "Log Out", "glyphicon-log-out", new { @class = "button-xlarge pure-button" })</li>
                            <li>@Html.GlyphLinkButton("addUserlink", "/Membership/CreateUser", "Create User", "glyphicon-user", new { @class = "button-xlarge pure-button" })</li>
                            <li>@Html.GlyphLinkButton("userclaimslink", "/Membership/UserClaims", "User Claims", "glyphicon-list", new { @class = "button-xlarge pure-button" })</li>
                            <li>@Html.GlyphLinkButton("addcredentiallink", "/Credentials/CreateCredential", "Add Credential", "glyphicon-lock", new { @class = "button-xlarge pure-button" })</li>
                            <li>@Html.GlyphLinkButton("addwebsitelink", "/Credentials/CreateWebSite", "Add Website", "glyphicon-cloud", new { @class = "button-xlarge pure-button" })</li>
                            <li>@Html.GlyphLinkButton("addclaimlink", "/Membership/AddClaim", "Add Claim", "glyphicon-list-alt", new { @class = "button-xlarge pure-button" })</li>
                        }
                        else
                        {
                            <li> @Html.GlyphLinkButton("loginoutlink", "/Membership/Login", "Log In", "glyphicon-log-in", new { @class = "button-xlarge pure-button" }) </li>
                            <li> @Html.GlyphLinkButton("passwordresetlink", "/Membership/PasswordReset", "Password Reset", "glyphicon-lock", new { @class = "button-xlarge pure-button" }) </li>
                        }


                    </ul>
                </div>
            </div>
            <div class="pure-g pure-u-1-6"></div>
        </div>
        <div class="pure-g">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/other-libs")
    @Scripts.Render("~/bundles/clientside-constants")
    @Html.Script(ClientScriptConstants.GetOrphanedScriptContent())
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/logout")

    @RenderSection("scripts", required: false)
</body>
</html>
