﻿#Loading {
    color: #c0c0c0;
    background-color: #1f2727;
    /*opacity: 0.1;*/
    filter: alpha(opacity=10);
    height: 500px;
    width: 1000px;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 10%;
    border: 2px solid #00ff00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.initialHide {
    display: none;
}

.formEntryBox {
    background-color: #2F6AA8;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #023568;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

legend.formEntry, .formEntryBox {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

input {
    border: 1px solid #0e4984;
    color: rgba(50, 50, 50, 1)    
}



.buttons {
    margin-top: 10px;
}

.validation-summary-valid {
    display:none;
}

.field-validation-error, .validation-summary-errors ul li {
    color: #dd4a4a;
    text-shadow: 1px 1px 2px #000;
}

#mainContentWrap a {
    color: #BDF3F5  
}

#mainContentWrap a:hover {
    color: #2e8589  
}

#mainContentWrap a:active {
    color: #2e8949  
}

#mainContentWrap a:focus {
    color: #2e8949  
}