﻿@model AdnugDemo1.Models.WebSiteModel

@section title
{
    @Model.Title
}


<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>@Model.Title</h2>

    @using (Html.BeginForm("CreateWebSite", "Credentials", FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
    {
        <div class="pure-g pure-u-1-4"></div>
        <div class="pure-g pure-u-1-2">

            @Html.AntiForgeryToken()

            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.LabelFor(m => m.Url)
            @Html.EditorFor(m => m.Url)

            <button id="createWebSiteButton" class="pure-button"><i class="fa fa-floppy-o"></i>&nbsp;Create Web Site</button>
        </div>

        <div class="pure-g pure-u-1-4"></div>

    }
</div>
<div class="pure-g pure-u-1-8"></div>