﻿@model AdnugDemo1.Models.CreateCredentialInputModel

@section title{
    @Model.Title
}

<div class="pure-g pure-u-1-8"></div>
<div id="mainContentWrap" class="pure-g pure-u-1-2 formEntry formEntryBox">

    <h2>Create New Credential</h2>


    @using (Html.BeginForm("CreateCredential", "Credentials", FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
    {
        <div class="pure-g pure-u-1-4"></div>
        <div class="pure-g pure-u-1-2">

            @Html.AntiForgeryToken()

            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName)

            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)

            @Html.LabelFor(m => m.AssociatedEmail)
            @Html.EditorFor(m => m.AssociatedEmail)

            @Html.LabelFor(m => m.Comment)
            @Html.EditorFor(m => m.Comment)


            @Html.LabelFor(m => m.WebSites)
            @Html.DropDownListFor(m => m.Site, new SelectList(Model.WebSites, "Value", "Text"), "Choose a Site", new { @class="darkText"})

            
            <button id="createCredentialButton" class="pure-button"><i class="fa fa-floppy-o"></i>&nbsp;Create Credential</button>

            </div>
            
        <div class="pure-g pure-u-1-4"></div>
        }
        </div>
<div class="pure-g pure-u-1-8"></div>